<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'vanishturtles/css/indexstyles.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div id="container">
      <h1>No Ninjas Here!</h1>

      <p>
        If you'd like to see ALL of the Teenage Mutant Ninja Turtles, type in "/ninjas" at the end of the link.  If you like to see only Leonardo, type in "/ninjas/blue".  For Raphael, type in "/ninjas/red." For Donatello, type in "/ninjas/purple," and of course for Michaelangelo, type in "/ninjas/orange."
      </p>







    </div>

  </body>
</html>
