<!DOCTYPE html>
<html>
	<head>
		<title>Log-in and Registration</title>
	</head>
	<body>
			{% if messages %}
				<ul>
				    {% for message in messages %}
				    <li>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
			<h1>Register</h1>
			<form action="{% url 'logreg:register' %}" method="POST">

				
				<label>First Name:<input type="text" name="first_name"></label><br>
				<label>Last Name<input type="text" name="last_name"></label><br>
				<label>Email<input type="email" name="email"></label><br>
				<label>Password<input type="password" name="password"></label><br>
				<label>Verify Password<input type="password" name="verify_password"></label><br>
				<input type="submit" name="submit">
{% csrf_token %}
			</form>


			<h1>Log-in</h1>
			<form action="{% url 'logreg:login' %}" method="POST">
				
				<label>Email<input type="email" name="email"></label><br>
				<label>Password<input type="password" name="password"></label><br>
				<input type="submit" name="submit">
{% csrf_token %}
			</form>
			<h6><a href="{% url 'courses:my_index' %}">Go to Courses</a></h6>
			<h6><a href="{% url 'home:index' %}">Go to Home Page</a></h6>
	</body>
</html>