<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
  <style type="text/css">
  label{
    display: block;
  }
  </style>
</head>
<body>
<h2>Delete Friend</h2>
  <form action='/friend/{{check_delete.id}}/delete' method='POST'>
    <label for="first_name">First Name: {{check_delete.first_name}}</label>
    <label for="last_name">Last Name: {{check_delete.last_name}}</label>
    <label for="email">Email: {{check_delete.email}}</label>
    <h3>Are you sure you want to Delete: {{check_delete.first_name}} {{check_delete.last_name}} from the Database</h3>
    <input type="submit" value="Complete Delete">
  </form>
  <form action='/'>
    <hr>
  	<h3>Return to friends list without deleting</h3>
  	<input type="submit" value="Cancel Delete/Return Home">
  </form>

</body>
</html>