<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
</head>
<body>

<h2>Update a Friend : {{one_friend.first_name}} {{one_friend.last_name}}</h2>
  <form action='/friend/{{one_friend.id}}/edit' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name" value="{{one_friend.first_name}}"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" value="{{one_friend.last_name}}"></label>
    <label for="email">Email:<input type="text" name="email" id="email" value="{{one_friend.email}}"></label>
    <input type="submit" value="Update">
  </form>

</body>
</html>