<html>
    <head>
        <title>Update User</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Edit User</h1>

        <div>

            <form action='/user/{{ user['id'] }}/update' method='POST'>
                <label for="email">Email: <input type="text" name="email" id="email" value ="{{ user['email'] }}"></label>
                <label for="first_name">Name:<input type="text" name="first_name" id="first_name" value ="{{ user['first_name'] }}"></label>
                <label for="last_name">Name:<input type="text" name="last_name" id="last_name" value ="{{ user['last_name'] }}"></label>
                <input type="submit" value="Update">
            </form>
        <div>

    </body>
</html>
