/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.Friend_Action{
    display: inline-block;
    width: 200px;
    margin: 10px;
}


.Friend{
    width: 400px;
    display: inline-block;
    margin: 10px;
}

form{
    margin: 10px;
}

.action_button{
    width: 50px;
}

hr{
    padding: 10px;
}
