<html>
    <head>
        <title>Update User</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Edit User</h1>

        <div>

            <form action='/user/{{ user['id'] }}/update' method='POST'>
                <label for="email">Email: <input type="text" name="email" id="email" value ="{{ user['email'] }}"></label>
                <label for="name">Name:<input type="text" name="name" id="name" value ="{{ user['name'] }}"></label>
                <label for="phone">Phone:<input type="text" name="phone" id="phone" value ="{{ user['phone'] }}"></label>
                <input type="submit" value="Update">
            </form>
        <div>

    </body>
</html>
