<html>
    <head>
        <title>Update Friend</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Edit Friend</h1>

        <div>

            <form action='/friends/{{ friend['id'] }}/update' method='POST'>
                <label for="first_name">First Name:<input type="text" name="first_name" id="first_name" value ="{{ friend['first_name'] }}"></label>
                <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" value ="{{ friend['last_name'] }}"></label>
                <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation" value ="{{ friend['occupation'] }}"></label>
                <input type="submit" value="Update">
            </form>
        <div>

    </body>
</html>
