<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Login and Registration</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login_registration/css/style.css' %}?{% now 'U' %}">
</head>
<body>
	<div id="container">
		{% if messages %}
			{% for error in messages %}
				<p class="red">{{ error }}</p>
			{% endfor %}
		{% endif %}
		<fieldset>
			<legend> Registration </legend>
			<form action="/users/register" method="post">
				{% csrf_token %}
				<label for="first_name">First Name: 
					<input type="text" name="first_name" id="first_name" />
				</label>
				<label for="last_name">Last Name:
					<input type="text" name="last_name" id="last_name" />
				</label>
				<label for="username">Username:
					<input type="text" name="username" id="username" />
				</label>
				<label for="email">Email:
					<input type="text" name="email" id="email" />
				</label>
				<label for="birthdate">Birthdate:
					<input type="date" name="birthdate" id="birthdate" />
				</label>
				<label for="password">Password: 
					<input type="password" name="password" id="password" />
				</label>
				<label for="confirm_pw">Confirm Password:
					<input type="password" name="confirm_password" id="confirm_pw" />
				</label>
				<input type="submit" value="Register" />
			</form>
		</fieldset>
		<fieldset>
			<legend> Login </legend>
			<form action="/users/login" method="post">
				{% csrf_token %}
				<label for="logEmail">Email: 
					<input type="text" name="email" id="logEmail" />
				</label>
				<label for="logPassword">Password:
					<input type="password" name="password" id="logPassword" />
				</label>
				<input type="submit" value="Login" />
			</form>
		</fieldset>
	</div>
</body>
</html>